@font-face {
  font-family: 'DINPro';
  src: url('./../../src/fonts/DINPro.eot');
  src: url('./../../src/fonts/DINPro.eot?#iefix') format('embedded-opentype'),
  url('./../../src/fonts/DINPro.woff2') format('woff2'),
  url('./../../src/fonts/DINPro.woff') format('woff'),
  url('./../../src/fonts/DINPro.ttf') format('truetype');
  font-weight: normal ;
  font-style: normal;
  font-display: swap;
}