$layout-breakpoint-small: 992px;


@media (min-width: 1200px) {
  .container {
    max-width: 1200px !important;
  }
}

//@media (max-width: 1439px) and (min-width: 1200px)
//header>.container, .top-header>.container {
    //padding-left: 235px;
//}

body * {
  font-family: "DINPro";
  color: #1d1d1b;
  font-size: 18px;
  line-height: 18px;
  font-weight: 300;
  &:after,
  &:before {
    clear: both;
  }
}

.main-btn {
  background-color: #2B5D28;
  display: inline-block;
  width: fit-content;
  font-size: 14px;
  line-height: 50px;
  color: #fff;
  padding: 0 15px;
  text-transform: uppercase;
  white-space: nowrap;
  transition: .4s;
  text-decoration: none;
  border: 1px solid #2B5D28;
  cursor: pointer;
  &:hover {
    color: #fff;
    transform: translateY(-3px);
    text-decoration: none;
  }
}

    h2.title {
      color: #1d1d1b;
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 42px;
      font-weight: 500;
      line-height: 1.1;
      text-align: center;
    }

    @media (max-width: $layout-breakpoint-small) {
      h2.title {
        font-size: 20px;
      }
    }

.i {
  font-style: italic;
}
.b {
  font-weight: 700;
}
.i_b {
  font-style: italic;
  font-weight: 700;
}

.cookie-popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  display: none;
  z-index: 1000;
  .btn-secondary {
    background: none;
    color: #2B5D28;
  }
}

.cookie-popup.show {
  display: block;
}

.owl-prev, .owl-next {
  display: inline-block;
  position: absolute;
  top: calc(50% - 40px);
  width: 50px;
  height: 50px;
  background: #fff;
  border: 2px solid #635e5e;
  font-size: 40px;
  line-height: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #635e5e;
  z-index: 1;
}

.owl-prev {
  left: 10px;
}

.owl-next {
  right: 10px;
}

.owl-dots {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  .owl-dot.active {
    background-color: #77777b;
    opacity: 1;
  }
  .owl-dot {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2;
    margin: 0 4px;
    cursor: pointer;
  }
}