.section_news-slider {
    margin: 0;
    margin-top: 60px;
    margin-bottom: 80px;
    .news_slider {
        .news_item {
            display: flex;
            flex-direction: column;
            height: 100%;
            .news_item-wrapper {
                flex: 1; /* Заставляет .item-wrapper заполнить доступное пространство в .item */
                display: flex;
                flex-direction: column;
                justify-content: space-between; /* Распределяет свободное пространство и прижимает кнопку к низу */
                padding: 20px 10px;
                .promo-img {
                    display: block;
                    width: 100%;
                    height: auto;
                    max-height: 140px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: auto;
                        display: block;
                    }
                }
                .promo-text {
                    display: block;
                    width: 100%;
                    margin: 0;
                    margin-bottom: 20px;
                    .title, .desc p {
                        color: #1d1d1b;
                        line-height: 1.3;
                        padding-top: 0;
                        padding-bottom: 15px;
                        font-weight: 500;
                        margin: 0;
                    }
                    .title {
                        font-size: 30px;
                    }
                    .desc {
                        margin: 0;
                        margin-bottom: 20px;
                        p {
                            font-size: 16px;
                        }
                    }
                }

                .main-btn {
                    display: block;
                    width: 100%;
                    text-align: center;
                    margin-top: auto; /* Автоматический отступ сверху, который прижмет кнопку к низу */
                    align-self: flex-end; /* Выравнивает кнопку по нижнему краю .item-wrapper */
                }

            }
        }
    }
}