section.parallax_section {
  position: relative;
  .social-block {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 210px 0 140px;
    .block {
      text-align: center;
      flex-basis: 33.33%;
      a {
        display: inline-flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        &:hover {
          text-decoration: none;
        }
      }
      svg {
        height: 105px;
        margin-bottom: 17px;
        path {
          fill: #ff6600;
        }
      }
      span {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        color: #333;
      }
    }
  }
  .parallax {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    overflow: hidden;
    width: 100%;
    background: url(../../src/images/parallax-1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
  }
}